#Header{
    height: 100px;
    background-color: black;
    color: white;
}

#Footer{
    height: 50px;
    background-color: black;
    color: white;
}

#SlideBarLeft{
    height: 440px;
    width: 300px;
    background-color: darkslategray;
    float: left;
}

#SlideBarRight{
    height: 440px;
    width: 1050px;
    background-color: teal;
    float: left;
}

#btn{
    height: 30px;
    width: 100px;
    font-size: 19px;
    background-color: black;
    color: white;
    border-width: 0px;
}