
.nav{
    height: 53px;
    background-color: goldenrod;
    top: 0;
    position: sticky;
    z-index: 1;
}

.nav ul{
    list-style: none;
    padding-top: 10px;
}

.nav ul li{
    display: inline; 
    /* all list items will be in a line */
}

.nav ul li a{
    text-decoration: none;
    font-size: 22px;
    font-family: candara;
    color: white;
    margin-left: 60px;
}

.nav ul li a:hover{
    color: black;

}

.nav ul li ul{
    display: none;
}

.nav ul li:hover ul{
    display:block;
    position: absolute;
    width: 200px;
    background-color: goldenrod;
    margin-left: 250px;
}

.nav ul li ul li{
    margin-left: -50px;
    line-height: 35px;
}

.cartlogo{
    height: 40px;
    position: absolute;
    padding-bottom: 10px;
}